<ion-view title="GreyComp" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="greyComp-list-item-container1">
            <h1 id="greyComp-heading1" style="color:#000000;" class=" ">Grey Comp</h1>
            <p id="greyComp-markdown1" style="margin-top:0px;color:#000000;" class=" ">An
                <strong>Ergonomux</strong>test app</p>
        </div>
        <div class="list card " id="greyComp-card21">
            <ion-item class="item-icon-left  " id="greyComp-list-item5" ui-sref="tabsController.greyCompProject1">
                <i class="icon ion-ionic"></i>Grey Comp Project 1</ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.greyCompProject1">
                    <img src="img/lw9rsvQVSuCWgcGQQLKx_Image Example .png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="greyComp-list-item-container2">
                <p id="greyComp-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="greyComp-card25">
            <ion-item class="item-avatar  " id="greyComp-list-item27" ui-sref="tabsController.kitchenSink">
                <img src="img/F8Zl3fpkTMa7P5IHujnX_kevin bacon.jpg">
                <h2>Kim &amp; Kev Kitchen Sink</h2>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.kitchenSink">
                    <img src="img/ElL1MH39S56NAGmZa5Yh_baconYeah.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="greyComp-list-item-container7">
                <p id="greyComp-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="greyComp-card22">
            <ion-item class="item-icon-left  " id="greyComp-list-item7" ui-sref="tabsController.greyCompProject2">
                <i class="icon ion-ios-analytics-outline"></i>Styled Static Project</ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.greyCompProject2">
                    <img src="img/eaJAqxvEQGqBSjkk58BU_angry-panda-office-o-s.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="greyComp-list-item-container3">
                <p id="greyComp-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
