<ion-view title="GreyComp Project 1" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="greyCompProject1-heading2" style="color:#000000;text-align:center;" class=" ">App Heading</h1>
        <p id="greyCompProject1-markdown2" style="color:#000000;text-align:center;" class=" ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            <strong>bold</strong>
        </p>
        <h3 id="greyCompProject1-heading3" style="color:#000000;" class=" ">Test Form</h3>
        <form id="greyCompProject1-form2" class="list ">
            <label class="item item-input " id="greyCompProject1-input2">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="greyCompProject1-input3">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="greyCompProject1-input5">
                <span class="input-label">phone number</span>
                <input type="tel" placeholder="999-999-9999">
            </label>
            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <label class="item item-select " id="greyCompProject1-select1">
                <span class="input-label">Select</span>
                <select>
                    <option>Option1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>