<ion-view title="GreyComp Project 2" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="greyCompProject2-heading4" style="color:#D341A6;text-align:center;" class=" ">Syled Static Test</h1>
        <div class="">
            <img src="img/jTQAQ0oDSLyY5mS12pgm_Group 6.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/yHPsunXQWSzbvvIzfnQx_test2.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/oApjkfvMTuWO5jy37Nuk_test3.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>