<ion-view title="Peeps" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="peeps-list4" class=" ">
            <ion-item class="item-avatar  " id="peeps-list-item13">
                <img src="img/jELvRyv5QK6smKKFltAy_adam.jpg">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="peeps-list-item14">
                <img src="img/PevF6IK3RqKGdOPOOmuj_ben.png">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="peeps-list-item15">
                <img src="img/BCoyBx5ORTmOVSGAqZGm_max.png">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="peeps-list-item16" ui-sref="tabsController.greyComp">
                <img src="img/r4zDt8hVRLeyCkgvefBQ_kevin bacon.jpg">
                <h2>Kim &amp; Kevin</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>