<ion-view title="Photo" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="photo-list3" class=" ">
            <ion-item class="item-thumbnail-left  " id="photo-list-item9">
                <img src="img/xTKq6QR9Tna0hz8VBYH9_Image Example .png">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="photo-list-item10">
                <img src="img/pCHPtwULTUe0GtJA6Hxy_Image Example .png">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="photo-list-item11">
                <img src="img/21X6UFFPRyoalgDw7vte_Image Example .png">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="photo-list-item12" ui-sref="tabsController.greyCompProject2">
                <img src="img/YnfzP4HRoW5wb7CgTRoQ_euxIcon.png">
                <h2>Styled Test</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>